{%extends 'home/base.html'%}

{%block content-1%}
Blogry About
{%endblock%}

{%block content-2%}
<div class="container border border-dark p-5 alert-success text-dark mt-3">
    <h3 class="text-center"> This Blog provide following things</h3>
    <div class="alert alert-light my-5 text-dark " role="alert">
        <h5> Write your own blogs.</h5>
    </div>
    <div class="alert alert-light my-5 text-dark" role="alert">
        <h5> Search blogs by title.</h5>
    </div>
    <div class="alert alert-light my-5 text-dark " role="alert">
        <h5> Write Comments under blogs.</h5>
    </div>
    <div class="alert alert-light my-5 text-dark " role="alert">
        <h5> Ask for Questions in Help section.</h5>
    </div>
    <div class="alert alert-light my-5 text-dark " role="alert">
        <h5> Increase your Knowledge.</h5>
    </div>
    <div class="alert alert-light my-5 text-dark " role="alert">
        <h5> Spread your Knowledge -> Become Guruji for others</h5>
    </div>
</div>
{%endblock%}
